
.navbar-left img {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 180px;
}

.page-header-image {
	background-image: url('26065012_baby-mother.jpg');
	min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
	filter: grayscale(70%);
}



.brand {
	position: relative;
	text-align: left;
	float: left;
    top: 220px;
    font-family: 'Lora', serif;
    word-spacing: 5px;
}

#subscribe {
	color: white;
	background: transparent;
	border: 2px solid white;
	margin: 4px 2px;
	cursor: pointer;
	padding: 16px 32px;
	font-size: 20px;
	word-spacing: 1px;
}

#subscribe:visited {
      background-color: #6eaecc;
      color: white;
      border: 3px solid #6eaecc;
 }
#subscribe:hover {
 	  background-color: #6eaecc;
      color: white;
      border: 3px solid #6eaecc;
 }
#subscribe:active {
      background-color: #6eaecc;
      color: white;
      border: 3px solid #6eaecc;
 }



@media (max-width:767px){

	html,body
	{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	}

	.page-header-image {
	background-image: url('26065012_baby-mother.jpg');
	  min-height: 100%;
	  min-width: 1024px;
		
	  /* Set up proportionate scaling */
	  width: 100%;
	  height: auto;
		
	  /* Set up positioning */
	  position: fixed;
	  top: 0;
	  left: 0;
	  filter: grayscale(70%);
	}

	.brand {
	position: relative;
	text-align: center;
    top: 220px;
    font-family: 'Lora', serif;
    font-size: 10px;
    word-spacing: 5px;
	}


}




