body {
	font-family: 'Cabin Sketch', cursive;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 25%;
	background: linear-gradient(to right, #0ff0f0 , #ff0000);
}

